<div class="contaniner">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>İçerik  güncelle</h2>
            <form [formGroup]="todoForm" (ngSubmit)="update()">
                <div class="mb-3">
                    <label for="icerik">İçerik</label>
                    <textarea class="form-control" formControlName="content" ></textarea>
                   
                </div>
                <button class="btn btn-primary" type="submit">güncelle </button>
            </form>
           
        </div>
    </div>
</div>